<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="/css/styles.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
    <title>MercadoLiebre</title>
</head>

<body>

    <header class="header__section-contenedora">

        <article class="header__padre--x3">
            <div class="header__div-contenedor">
                <img src="/images/logo-mercado-liebre.svg" alt="logo-mercado-liebre">

                <div class="header__barra-lupa">
                    <form action="/buscar" method="GET">
                        <input type="text" name="q" placeholder="Buscar productos, marcar">
                        <button type="submit"><i class="fas fa-search"></i>
                    </form>
                </div>
            </div>
            <div class="icono__mano"><i class="fas fa-hand-holding-usd"></i><h4>Comprá en cuotas y sin
                    tarjeta de crédito</h4></div>

                
         
            </div>
        </article>

        <nav class="header__menu">
            <ul class="lista__menu">
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul class="menu__header">
                <li><a href="">Creá tu cuenta <i class="far fa-address-card"></i> </a></li>
                <li><a href="">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>

        <div class="header__caja-padre-burger">
            <p class="icono__burger"><i class="fas fa-bars"></i></p>
        </div>

    </header>
    <!----- MAIN-----------MAIN--------------MAIN----------------------MAIN-------------------MAIN--------- -->

    <main>
        <figure class="main__contenedor-banner">
            <img src="/images/img-home-banner.jpg" alt="img-home-banner" width="100%">
        </figure>

        <section class="main__contenedor-cuerpo">
            <h2> Basado en tu última visita</h2>

            <article class="main__contenedor--articulo-01">
                <img src="/images/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex" width="100%">
                <div class="main__contenedor-precio"><i class="fas fa-truck"></i>

                    <div class="main__caja-precio-descuento"><span class="main__precio"> $6.770</span>
                        <div class="main__descuentos">40% OFF</div>
                    </div>

                    <h3>Cafetera Moulinex</h3>
                </div>


            </article>

            <article class="main__contenedor--articulo-01">
                <img src="/images/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019" width="100%">
                <div class="main__contenedor-precio"><i class="fas fa-truck"></i>

                    <div class="main__caja-precio-descuento"><span class="main__precio">$230.000</span>
                        <div class="main__descuentos">20% off</div>
                    </div>

                    <h3>imagen de MacBook</h3>
                </div>

            </article>

            <article class="main__contenedor--articulo-01">
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10" width="100%">
                <div class="main__contenedor-precio"><i class="fas fa-truck"></i>

                    <div class="main__caja-precio-descuento"><span class="main__precio">$70.500</span>
                        <div class="main__descuentos">10% off</div>
                    </div>

                    <h3>Samsung Galaxy S10</h3>
                </div>
            </article>

            <article class="main__contenedor--articulo-01">
                <img src="/images/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart" width="100%">

                <div class="main__contenedor-precio"><i class="fas fa-truck"></i>

                    <div class="main__caja-precio-descuento"><span class="main__precio">$23.200</span>
                        <div class="main__descuentos">5% OFF</div>
                    </div>

                    <h3>SmartTv Samsung 43"</h3>
                </div>
            </article>
        </section>

        <section class="main__contenedor-cuerpo">
            <h2>Ofertas</h2>
            <article class="main__contenedor--articulo-02">
                <img src="/images/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex" width="100%">
                <div class="main__contenedor-precio"><i class="fas fa-truck"></i>

                    <div class="main__caja-precio-descuento"><span class="main__precio">$6.770</span>
                        <div class="main__descuentos">40% OFF</div>
                    </div>

                    <h3>Cafetera Moulinex</h3>
                </div>
            </article>


            <article class="main__contenedor--articulo-02">

                <img src="/images/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019" width="100%">
                <div class="main__contenedor-precio"><i class="fas fa-truck"></i></button>

                    <div class="main__caja-precio-descuento"><span class="main__precio">$230.000</span>
                        <div class="main__descuentos">20% off</div>
                    </div>

                    <h3>imagen de MacBook</h3>
                </div>
            </article>

            <article class="main__contenedor--articulo-02">
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10" width="100%">
                <div class="main__contenedor-precio"><i class="fas fa-truck"></i></button>

                    <div class="main__caja-precio-descuento"><span class="main__precio">$70.500</span>
                        <div class="main__descuentos">10% off</div>
                    </div>

                    <h3>Samsung Galaxy S10</h3>
                </div>
            </article>

            <article class="main__contenedor--articulo-02">
                <img src="/images/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart" width="100%">
                <div class="main__contenedor-precio"><i class="fas fa-truck"></i>

                    <div class="main__caja-precio-descuento"><span class="main__precio">$23.200</span>
                        <div class="main__descuentos">5% OFF</div>
                    </div>

                    <h3>SmartTv Samsung 43"</h3>
                </div>

            </article>
        </section>
    </main>

    <footer class="footer">

        <article class="footer__card">
            <i class="fas fa-credit-card icono__cardFooter"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con MercadoLiebreCash tenés cuotas sin</p>
            <p>interés con tarjeta o en efectivo en puntos de</p>
            <p> pago. ¡Y</p>
            <p>siempre es seguro!</p>
        </article>

        <article class="footer__gif">
            <i class="fas fa-gift icono__giftFooter"></i>
            <h3>Envio gratis desde los $ 2.500</h3>
            <p>Solo por estar registrado en Mercado MercadoLiebre</p>
            <p>tenés envíos gratis en miles de productos.Es</p>
            <p>un beneficio de Mercado Puntos.</p>
        </article>

        <article class="footer__segurity">
            <i class="fas fa-user-shield icono__segurityFooter"></i>
            <h3>Seguridad de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre</p>
            <p> no hay nada que no puedas hacer porque etás</p>
            <p>siempre protegid@.</p>
        </article>

        <article class="footer__pie">
            <h5>Copyright © 1999-2020 MercadoLiebre S.R.L.</h5>
        </article>

    </footer>
</body>

</html>