<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="\css\styles.css">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
    <title>MercadoLiebre</title>
</head>

<body >
    <header class="fondo">
        <section>
            <article>
                <img class="logo__principal"  src="/images/logo-mercado-liebre.svg" alt="logo-mercado-liebre" width="100%">
            </article>
            <article >
                <form   class="barracajaancho"><input class="barra__busqueda" type="text"></form>
                <i class="fas fa-search icono__lupa"></i>
            </article>
            <article>
               
                <p class="icono__mano" ><i class="fas fa-hand-holding-usd"></i>  Comprá en cuotas y sin tarjeta de crédito</p>
            </article>
            <nav>
                <ul class="menu__header espaciomenu">
                    <li><a href="">Ofertas</a></li>
                    <li><a href="">Tiendas Oficiales</a></li>
                    <li><a href="">Vender</a></li>
                    <li><a href="">Ayuda</a></li>
                </ul>
                <ul class="menu__header">
                    <li><a href="">Creá tu cuenta  <i class="far fa-address-card"></i> </a></li>
                    <li><a href="">Ingresá  <i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
                </ul>
               

            </nav>

        </section>
        <section>
            <p class="icono__burger"><i class="fas fa-bars"></i></p>
          </section>

    </header>
    <main>
       

        <section>
            <article>
                <img src="/images/img-home-banner.jpg" alt="img-home-banner" width="100%">
            </article>

            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex" width="100%">
            </article>
            <article>
                <p> $6.770</p>
                <p>40% OFF</p>
                <p><b>Cafetera Moulinex</b></p>
            </article>

            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019" width="100%">
            </article>
            <article>
                <p> $230.000</p>
                <p>20% off</p>
                <p><b>imagen de MacBook</b></p>
            </article>

            <ARticle>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10" width="100%">
            </article>
            <article>
                <p>$70.500</p>
                <p>10% off</p>
                <p><b>Samsung Galaxy S10</b></p>
            </article>

            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart" width="100%">
            </article>
            <article>
                <p> $23.200</p>
                <p> 5% OFF</p>
                <p><b>SmartTv Samsung 43"</b></p>
            </article>
        </section>
    </main>
    <footer class="footer">
        <article>
            <i class="fas fa-credit-card icono__cardFooter"></i>
            <h3><b>Pagá con tarjeta o en efectivo</b></h3>
            <p>Con MercadoLiebreCash tenés cuotas sin</p>
            <p>interés con tarjeta o en efectivo en puntos de</p>
            <p> pago. ¡Y</p>
            <p>siempre es seguro!</p>
        </article>
        <article>
            <i class="fas fa-gift icono__giftFooter"></i>
            <h3><b>Envio gratis desde los $ 2.500</b></h3>
            <p>Solo por estar registrado en Mercado MercadoLiebre</p>
            <p>tenés envíos gratis en miles de productos.Es</p>
            <p>un beneficio de Mercado Puntos.</p>
        </article>
        </article>
        <article>
               <i class="fas fa-user-shield icono__segurityFooter"></i>
            <h3>
             <b>Seguridad de principio a fin</b>
            </h3>
            <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre</p>
            <p> no hay nada que no puedas hacer porque etás</p> 
            <p>siempre protegid@.</p>
            <p><b>Copyright © 1999-2020 MercadoLiebre S.R.L.</b></p>
        </article>

    </footer>
</body>

</html>