<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <section>
            <article>
                <img src="/images/logo-mercado-liebre.svg" alt="logo-mercado-liebre" width="100%">
            </article>
            <article>
                <p>Lugar para poner barra de búsqueda</p>
            </article>
            <article>
                <p>Comprá en cuotas y sin tarjeta de crédito</p>
            </article>
            <nav>
                <ul>
                    <li><a href="">Ofertas</a></li>
                    <li><a href="">Tiendas Oficiales</a></li>
                    <li><a href="">Vender</a></li>
                    <li><a href=""></a>Ayuda</li>
                </ul>
                <ul>
                    <li><a href="">Creá tu cuenta</a></li>
                    <li><a href="">Ingresá</a></li>
                    <li><a href="">Mis compras</a></li>

                </ul>

            </nav>

        </section>

    </header>
    <main>
        <section>
            <h3><b>Sección: Basado en tu última visita</b></h3>
        </section>

        <section>
            <article>
                <img src="/images/img-home-banner.jpg" alt="img-home-banner" width="100%" >
            </article>

            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex" width="100%">
            </article>
            <article>
                <p> $6.770<br> 40% OFF<br><b>Cafetera Moulinex</b></p>
            </article>

            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019" width="100%">
            </article>
            <article>
                <p> $230.000<br> 20% off<br><b>imagen de MacBook</b></p>
            </article>

            <ARticle>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10" width="100%">
            </article>
            <article>
                <p> $70.500<br> 10% off<br><b>Samsung Galaxy S10</b></p>
            </article>

            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart" width="100%">
            </article>
            <article>
                <p> $23.200<br> 5% OFF<br><b>SmartTv Samsung 43"</b></p>
            </article>
        </section>
    </main>
    <footer><article><h3><b>Pagá con tarjeta o en efectivo</b></h3>
        <p>Con MercadoLiebreCash tenés cuotas sin<br> interés con tarjeta o en efectivo en puntos de<br> pago. ¡Y siempre es seguro!</p></article>
        <article>
            <h3><b>Envio gratis desde los $ 2.500</b></h3>
        <p>Solo por estar registrado en Mercado Libre<br>tenés envíos gratis en miles de productos.Es<br>un beneficio de Mercado Puntos.</p></article>
        </article>
        <article>
            <h3>
                <b>Seguridad de principio a fin</b>
            </h3>
            <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre<br>no hay nada que no puedas hacer porque etás<br>siempre protegid@.</p>
            <p><b>Copyright © 1999-2020 MercadoLiebre S.R.L.</b></p>
        </article>

    </footer>
</body>

</html>