/* FOOTER */
/* Los íconos tienen un tamaño de 2em y un margen inferior de separación de 10
píxeles.
 */

 .footer {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 10px;
}

.icono__cardFooter {

    font-size: 2em;
    margin: 10px 0 10px 0;
    text-align: center;
    color: #1259c3;
}

.icono__giftFooter {

    font-size: 2em;
    padding: 10px;
    text-align: center;
    color: #1259c3;
}

.icono__segurityFooter {

    font-size: 2em;
    padding: 10px;
    text-align: center;
    color: #1259c3;
}

.footer__pie {
    margin-top: 10px;
    font-family: var(--cuerpos-de-texto);

}
.footer__pie h5{
 padding:35px 60px 40px 5px;

}
/* TABLE */
@media(min-width: 768px){




}
@media(min-width: 1024px){

.footer{

display:flex ;
flex-wrap: wrap;
justify-content: space-around;
padding-left: 55px;
}
.footer__card i{
    color: var(--azulButton);
    width: 30%;
    transition: background-color 0.3s ease;

}
.footer__card:hover i{
color: var(--GrisOscuro);
}
.footer__gif i{
    color: var(--azulButton);
    transition: background-color 0.3s ease;
    width: 30%;
}
.footer__gif:hover i{
color: var(--GrisOscuro); 
}

.footer__segurity i{
    color: var(--azulButton);
    transition: background-color 0.3s ease;
    width: 30%;
}
.footer__segurity:hover i{
    color: var(--GrisOscuro); 
}
.footer__pie{
 width: 100%;
 text-align: left;

}



}
