/* HEADER */
header {
    width: 100%;
    background-color: #EAC926;
    padding: 20px;
}


.contenedor__padre {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

/* caja logo */

.contenedor__logo {
    width: 50%;
    padding: 10px;
    /* padding para que el logo quede comprimido) */
}


.barra__cajaAncho {
    width: 50%;
    display: flex;
    flex-wrap: wrap;


}

/* le cambie nombre */
.input-barra__busqueda {
    width: 120px;
    border: 0;
    height: 30px;
    padding: 5px 10px 5px 4px;
    /* arriba,derecha , abajo,izquierdo  */
    border-radius: 5px 0 0 5px;
}

.barra__busqueda button {
    width: 10%;
    padding: 5px;
    position: absolute;
}

.lupa-menu {
    width: 20px;
    background-color: white;
    height: 30px;
    border-radius: 0 5px 5px 0;
    border: none;
    color: var(--GrisOscuro);
    padding: 5px;

}

.contenedor__compra {
    width: 100%;
    text-align: center;
    font-size: var(--descripciones);
}

.lista__menu {
    margin: 10px;
    line-height: 20px;
    display: none;
}

.menu__header li {
    list-style: none;
    line-height: 20px;

}

.menu__header li a {
    text-decoration: none;
    color: #1a1919;
}

.menu__header li a i {
    margin-left: 3px;
}

.icono__burger i {
    overflow: hidden;
    background-color: var(--Celeste);
    color: var(--Grisclaro);
    margin-left: 45%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 7px 7px 7px;
    padding: 10px;

}

/* boton amburguesa */
.fas {
    font-size: 15px;
}


/* --------ACÁ COMIENZA VISTA TABLET---------------- */


@media(min-width:481px) {


    /* HEADER */


    /* CONTENEDOR DE LOS 3 */
    .contenedor__padre {
        justify-content: space-between;
    }

    .contenedor__logo {
        width: 35%;
        padding: 15px 10px;
        /* para que el logo se meta dentro del padre(queda comprimido) */
    }

    /*  */
    .barra__cajaAncho {
        width: 30%;
        /* paddin los hijos se acomodan adentro de su caja */
        display: flex;
        flex-wrap: wrap;
    }

    /* CONTENEDOR COMPRA-MANO */
    .contenedor__compra {
        width: 35%;
    }


    /* BARRA BUSQUEDA */
    .input-barra__busqueda {
        width: 170px;
    }


/* para separar a sus hijos ul */
    .lista__menu {
        display: flex;
        justify-content: space-between;
    }

    .menu__header {
        display: flex;
        gap: 10px;
    }

    .menu__header li {
        list-style: none;
    }

    .menu__header li a {
        text-decoration: none;
        color: black;
    }

    .icono__burger i {
        display: none;
    }

}


/* -----ACÁ COMIENZA LA VISTA DESKTOP -------*/
@media(min-width:1024px) {

    .contenedor__logo {
        width: 35%;
    }

    /* CAJA DE BARRA */
    form.barra__cajaAncho input{
        gap: 10px;
        width: 80%;


    }
    .contenedor__compra{
      width: 30%;
    }
 

/* AL FIN CRECIO EL CONTENEDOR COMPRA!! */
    .contenedor__compra span{
    font-size:17px;
}
  

}