/* HEADER */
header {
    width: 100%;
    background-color: #EAC926;
}


.contenedor__padre {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    justify-content: space-between;
    width: 100%;
    padding: 25px;
}

.contenedor__logo {
    width: 50%;
}

.logo__principal {
    width: 95%;

}

.barra__cajancho {
    width: 50%;

}

.barra__cajancho input {
    position: relative;
    padding: 1px;
    border: 0;
}

.barra__busqueda {
    height: 30px;
    padding: 5px 4px;
    border-radius: 5px 5px 5px 5px;
}

.barra__busqueda button {
    position: absolute;
}

.lupa-menu {
    background-color: white;
    height: 25px;
    margin-left: 90%;
    border-radius: 0 5px 5px 0;
    border: none;
    color: var(--GrisOscuro);
    position: relative;
    top: -28px;
    right: 0;
}


.contenedor-compra {
    width: 100%;
}

.contenedor__padre p {
    text-align: center;
}

.icono__mano {
    font-size: var(--descripciones);

}

.lista__menu {
    margin: 10px 0;
    line-height: 20px;
}

.menu__header li {
    list-style: none;
    line-height: 20px;

}

.menu__header li a {
    text-decoration: none;
    color: #1a1919;
    display: none;

}

.menu__header li a i {
    margin-left: 3px;
}

.icono__burger i {
    overflow: hidden;
    background-color: var(--Celeste);
    color: var(--Grisclaro);
    margin-left: 45%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 7px 7px 7px;
    padding: 10px;

}

/* boton amburguesa */
.fas {
    font-size: 15px;
}


/* --------ACÁ COMIENZA VISTA TABLET---------------- */


@media(min-width:361px) {

    /* tamaño de icono mano, canasto flecha y lupa */
    /* traen un peso de 900 */
    .fas {
        font-size: 65%;
    }


    /* HEADER */
    header {
        width: 100%;
    }


    /* CONTENEDOR DE LOS 3 */
    .contenedor__padre {
        display: inline-block;
        display: flex;
        padding: 5px;
    }

    /* CAJA DEL LOGO */
    .contenedor__padre .contenedor__logo {
        width: 120px;
    }

    .logo__principal {
        width: 72%;
        padding: 20px 0 0 20px;
    }

    /* CAJA DE LA BARRA */
    .barra__cajancho .barra__busqueda {
        width:50%;

    }
    .barra__cajancho

    .barra__busqueda {
        /* margin-right: 118%; */
        /* width: 190px; */
        /* height: 15px; */
    }

    p .icono__mano {
        width: 120px;
        margin-left: 20px;
    }

    .lista__menu{
        top: 28px;
    }
    .lupa-menu i{
        margin-top: 5px;
        height: 17px;
        width: 17px;
        cursor: pointer;

    }

 




    .menu__header .lista__menu {
        width: 100%;  
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
    }

    .lista__menu {
        margin: 5px 0;
    }

    .menu__header li {
        list-style: none;
        line-height: 15px;
    }

    .menu__header li a {
        text-decoration: none;
        color: black;
        display: flex;
     
    }

   

    .icono__burger i {
        display: none;
    }

}


/* -----ACÁ COMIENZA LA VISTA DESKTOP -------*/
@media(min-width: 769px) {

    .icono__mano {
        margin-left: 55%;
    }

    .barra__busqueda {
        width: 40%;
        height: 20px;
    }

    .lupa-menu {
        margin-top: 5px;
        margin-bottom: 10px;
        margin-left: 1%;
        height: 20px;
        width: 19px;
        cursor: pointer;

    }

    .lupa-menu i {
        padding: 0;
        font-size: 10px
    }




}