/* MAIN */

main {
    background-color: var(--Grisclaro);
    border-bottom: solid 1px var(--Grisclaro);
}

/* SECTION PADRE DE LAS TARJETAS */
.main__contenedor-cuerpo {
    width: 90%;
    margin: 0 auto;
}
/* TÍTULO DE LA SECTIÓN O1 */
.main__contenedor-cuerpo H2{
text-align: center;
}

/* FIGURE PADRE QUE CONTIENE AL BANNER */
.main__contenedor-banner {
    width: 100%;
}

.main__contenedor-banner img {
    width: 100%;
}

/* CLASE QUE TIENEN 4 TARJETAS DE LA SECTION 01 */
.main__contenedor--articulo-01{
    margin-bottom: 10px;
    padding: 0 15px;
}

/* CLASE QUE TIENEN 4 TARJETAS DE LA SECTION 02 */
.main__contenedor--articulo-02 {
    margin-bottom: 10px;
    padding: 0 15px;
}


h2 {
    font-family: var(--tipografiaMenu);
    font-size: var(--titulares);
    color: var(--GrisOscuro);
    margin-left: 10px;
}

/* CONFIGURACIÓN DE CARRITO */
.main__contenedor-precio i {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    color: #39b54a
}

/* CAJA PADRE, PRECIO, DESCUENTO Y DESCRIPCIÓN */
.main__contenedor-precio {
    position: relative;
    background-color: white;
    padding: 15px;
    border-top: solid 1px var(--Grisclaro);

}

.main__precio {
    font-size: var(--precios);
    width: 30%;

}

.main__descuentos {
    font-size: var(--descuentos);
    color: var(--Verde);
    width: 70%;
}

/* CAJA PADRE PARA PRECIO Y DESCUENTO */
.main__caja-precio-descuento {
    display: flex;
    flex-wrap: wrap;
}

.main__contenedor-precio h3 {
    display: block;
    margin-top: 10px;
}


/*------ ACÁ COMIENZA LA VISTA TABLET----------- */


@media(min-width:481px) {

    /* MAIN */


    h3 {
        display: block;
        margin-top: 15px;
        margin-left: 0;

    }

    h2 {
        font-family: var(--tipografiaMenu);
        font-size: var(--titulares);
        color: var(--GrisOscuro);
        margin-left: 15px;
    }


    .main__contenedor--articulo-01 {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    .main__contenedor--articulo-02 {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        margin-bottom: 10px;
        padding: 0 15px;
    }

    .main__icono-carro {
        display: grid;
        padding: 5px 5px;
        padding-right: 15px;
        margin: 2px;
        border-radius: 40px;
        border: solid 1.5px #39b54a;
    }

    .main__icono-carro i {
        color: var(--Verde);
        font-size: 20px;
        height: 35px;
        margin: 1.5px;
    }

    .main__contenedor-precio {
        background-color: white;

        padding: 15px;
        border-top: solid 1px var(--Grisclaro);

    }

    .main__precio {
        font-size: var(--precios)
    }

    .main__descuentos {
        font-size: var(--descuentos);
        color: var(--Verde);
    }


}

/* -----ACÁ COMIENZA LA VISTA DESKTOP -------*/
@media(min-width: 1024px) {}