/* MAIN */
main {
    background-color: var(--Grisclaro);
    border-bottom: solid 1px var(--Grisclaro);
    padding-bottom: 25px;
}

/* h3 de productos */
h3 {
    font-size: var(--descripciones);
    font-family: var(--tipografiaMenu);
   margin-top: 10px;
}

/* h3 OFERTAS */
.main__contenedor-precio h3 {
    font-size: var(--cuerpos-de-texto);
    padding-left: 10px;
    display: none;
}

.main__contenedor-banner {
    width: 100%;
}

.main__contenedor-banner img {
    width: 100%;
}

.main__contenedor-cuerpo {
    width: 90%;
    margin: 0 auto;
}

.main__contenedor--articulo-01 {
    margin-bottom: 30px;
}

.main__contenedor--articulo-02 {
    margin-bottom: 30px;
}

.main__contenedor-precio {
    background-color: white;
    padding: 10px;
    border-top: solid 1px var(--Grisclaro);
    position: relative;
    align-items: center;

}

.main__icono-carro {
    display: block;
    padding: 5px;
    width: 30px;
    height: 30px;
    padding-right: 15px;
    margin: 2px;
    border-radius: 40px;
    position: absolute;
    right: 20px;
    top: -20px;
    border: solid 1.5px #39b54a;
    background-color: #FFF;
}
/* movimiento del carrito en 90grados */
.main__icono-carro:hover {
 animation:rotate 2s ease ;
}
@keyframes rotate {
0%{
    transform: rotate(0deg) ;
}
50%{
    transform: rotate(-90deg);
}
100%{
    transform: rotate(0deg);
}

}
.main__icono-carro i {
    color: var(--Verde)
}

.articulo__box-precio {
    display: flex;  
    gap: 6px;
    padding: 0;
    align-items: center;
    justify-content: space-between;
}

.main__precio {
    width: 30%;
    font-size: var(--descuentos);
    /* error de tamaño tp */
}

.main__descuentos {
    color: var(--Verde);
    font-size: var(--precios);
    width:70% ; 
}



h2 {
    font-family: var(--tipografiaMenu);
    font-size: var(--titulares);
    color: var(--GrisOscuro);
}

/*--------------- ACÁ COMIENZA LA VISTA TABLET----------- */


@media(min-width:768px) {

    /* MAIN */

    /* h2 BASADO EN TU ÚLTIMA VISITA */
    .main__contenedor-cuerpo h2 {
        padding: 30px 0;
    }

    h2 {
        font-family: var(--tipografiaMenu);
        font-size: var(--titulares);
        color: var(--GrisOscuro);
        width: 100%;
    }

    .main__contenedor-cuerpo {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }



    /* transición de h3 en tarjetas 01 y 02 */
    .main__contenedor--articulo-01:hover h3{
        height: 20px;
    }

    .main__contenedor--articulo-02:hover h3{
        height: 20px;  
    }

   
    
    .main__contenedor-precio h3{
       display: block;
        height: 0;
        overflow: hidden;
        transition: all 1s ease;

    }

/* articulo 01 y 02 tienen un efecto de sombra al pasar el cursor por la tarjeta */
    .main__contenedor--articulo-01:hover {
    box-shadow: 0px 0px 15px rgb(100, 100, 100);
    }

    .main__contenedor--articulo-01 {
       width: 45%;
    }

    .main__contenedor--articulo-02:hover {
        box-shadow: 0px 0px 15px rgb(100, 100, 100);
    }

    .main__contenedor--articulo-02 {
        width: 45%;
    }





}

/* -----ACÁ COMIENZA LA VISTA DESKTOP -------*/
@media(min-width: 1024px) {

   

    .articulo__box-precio {
        width: 100%;
        display: flex;  
        align-items: center;
        justify-content: space-between;
      
    }
    
    .main__precio {
        width: 70%;
        font-size: var(--precios);
        /* error de tamaño tp */
    }
    
    .main__descuentos {
        font-size: var(--descuentos);
        color: var(--Verde);
        width: 51% ; 
        padding-bottom: 5px;
    }
    .main__contenedor-precio{
        padding:15px;
    }

    .main__contenedor--articulo-01 {

        width: 20%;
    }

    .main__contenedor--articulo-02 {

        width: 20%;
    }

}