/* MAIN */
main{
    background-color: var(--Grisclaro);
    border-bottom: solid 1px var(--Grisclaro);
   }
   .main__contenedor-cuerpo{
       width: 90%;
       margin: 0 auto;
   }
   
   .main__contenedor-banner {
       width: 100%;
     }
   .main__contenedor-banner img{
       width: 100%;  
      
   }
   
   
   .main__contenedor--articulo-01{
     
       margin-bottom: 10px ;
       padding: 0 15px;
    
   }
   .main__contenedor--articulo-02 {
       margin-bottom: 10px ;
       padding: 0 15px;
   }
   h2 {
       font-family: var(--tipografiaMenu);
       font-size: var(--titulares);
       color: var(--GrisOscuro);
       margin-left: 10px;
   }
   
   
   .main__icono-carro{
       display: grid;
       padding: 5px 5px;
       padding-right:15px ;
       margin:2px;
       border-radius: 40px;
       border: solid 1.5px #39b54a;
       background-color:white ;
   }
   .main__icono-carro i{
       color:var(--Verde);
       font-size:20px;
       height:35px;
       margin:1.5px; 
   }
   
   .main__contenedor-precio{
       background-color:white ;
       
       padding: 15px;
       border-top: solid 1px var(--Grisclaro);
       
   }
   .main__precio {
       font-size: var(--precios)
   }
   .main__descuentos{
       font-size: var(--descuentos);
       color: var(--Verde);
   }
   
    
   /*------ ACÁ COMIENZA LA VISTA TABLET----------- */
   
   
   @media(min-width:361px){
   
   /* MAIN */
   
      
      h3 {
       display: block;
       margin-top: 15px ;
       margin-left: 0;
   
   }
   h2 {
       font-family: var(--tipografiaMenu);
       font-size: var(--titulares);
       color: var(--GrisOscuro);
       margin-left: 15px;
   }
   
   
   .main__contenedor--articulo-01{
       box-shadow: 0px 0px 10px rgb(100, 100, 100);
   }
      .main__contenedor--articulo-02 {
       box-shadow: 0px 0px 10px rgb(100, 100, 100);
          margin-bottom: 10px ;
          padding: 0 15px;
      }
      .main__icono-carro{
          display: grid;
          padding: 5px 5px;
          padding-right:15px ;
          margin:2px;
          border-radius: 40px;
          border: solid 1.5px #39b54a;
      }
      .main__icono-carro i{
          color:var(--Verde);
          font-size:20px;
          height:35px;
          margin:1.5px; 
      }
      
      .main__contenedor-precio{
          background-color:white ;
          
          padding: 15px;
          border-top: solid 1px var(--Grisclaro);
          
      }
      .main__precio {
          font-size: var(--precios)
      }
      .main__descuentos{
          font-size: var(--descuentos);
          color: var(--Verde);
      }
      
   
   }
   /* -----ACÁ COMIENZA LA VISTA DESKTOP -------*/
   @media(min-width: 769px){
   
   
   }