@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('./general.css');
@import url('./header.css');
@import url('./main.css');
@import url('./footer.css');
@import url('./register.css');
@import url('./login.css');










