@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--tipografiaMenu);
}

a {
    font-family: var(--tipografiaMenu);
    font-size: var(--cuerpos-de-texto);
}



h3 {
    font-size: var(--decripciones);
    color: var(--GrisOscuro);
}

h2 {
    font-family: var(--tipografiaMenu);
    font-size: var(--titulares);
    color: var(--GrisOscuro);
}






:root {

    --Amarillo: #EAC926;
    --Azul: #03264C;
    --Celeste: #1259c3;
    --GrisOscuro: #666;
    --Grisclaro: #ebebeb;
    --Verde: #39b54a;

    --tipografiaMenu: 'Roboto', sans-serif;
    /* tamaños tipográficos */

    --cuerpos-de-texto: 12px;
    --titulares: 24px;
    /* basado en la última visita/ofertas */
    --precios: 18px;
    --descuentos: 16px;
    --decripciones: 16px
}

/* HEADER */

.fondo {
    background-color: #EAC926;
}

.logo__principal {
    width: 50%;
    margin-left: 10px;
    padding: 25px 0 15px 25px;
}

.barra__cajancho {
    width: 100%;

}

.barra__busqueda {
    margin-left: 5%;
    border: 1px #080808 solid;
    width: 55%;
    height: 25px;

}

.lupa-menu {
    width: 10%;
    height: 30px;
    text-align: left;
    margin-left: 5%;
    margin-top: 5px;
    margin-bottom: 10px;

}

.icono__lupa {
    background-size: 2em;
    padding: 6px 8px;
    margin-left: 0;

}

.contenedor-compra {
    width: 100%;
}

.icono__mano {
    background-image: 2em;
    margin-left: 15%;
}

.texto__mano {
    font-size: var(--cuerpos-de-texto);

}

.lista__menu {
    margin: 10px 0;
    line-height: 20px;
}

.menu__header li {
    list-style: none;
    line-height: 20px;

}

.menu__header li a {
    text-decoration: none;
    color: black;
    font-weight: 700;
 
}

.menu__header li a i {
    margin-left: 3px;
}

.icono__burger i {
    overflow: hidden;
    background-color: var(--Celeste);
    color: var(--Grisclaro);
    margin-left: 45%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 7px 7px 7px;
    padding: 10px;

}

.fas {
    background-image: 2em;
}

/* MAIN */
.main__precio {
    font-size: var(--precios)
}

.main__descuento {
    font-size: var(--descuentos);
}

p {
    font-family: var(--tipografiaMenu);
    font-size: var(--decripciones)
}

/* FOOTER */
/* Los íconos tienen un tamaño de 2em y un margen inferior de separación de 10
píxeles.
 */

.footer {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 10px;
}

.icono__cardFooter {

    font-size: 2em;
    margin: 10px 0 10px 0;
    text-align: center;
    color: #1259c3;
}

.icono__giftFooter {

    font-size: 2em;
    padding: 10px;
    text-align: center;
    color: #1259c3;
}

.icono__segurityFooter {

    font-size: 2em;
    padding: 10px;
    text-align: center;
    color: #1259c3;
}

.footer__pie {
    margin-top: 10px;
}

h4 {
    font-family: var(--tipografiaMenu);
    font-size: var(--cuerpos-de-texto);
    text-align: left;
    padding: 20px 0;
}