@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--tipografiaMenu);

}





:root {

    --Amarillo: #EAC926;
    --Azul: #03264C;
    --Celeste: #1259c3;
    --GrisOscuro: #666;
    --Grisclaro: #ebebeb;
    --Verde: #39b54a;


    --tipografiaMenu: 'Roboto', sans-serif;
}

.espaciomenu {
    margin: 25px 0
}

.menu__header li {
    list-style: none;
}

.menu__header li a {
    text-decoration: none;
    color: black;
    font-weight: 700;

}

.menu__header li a i {

    margin-left: 3px;
}

.fondo {
    background-color: #EAC926;
}

.logo__principal {
    width: 40%;
    padding: 25px 0 15px 25px;
}


.barracajaancho {
    width: 100%;
}

.barra__busqueda {
    width: 45%;
    margin-left: 5%;

    background-color: #ebebeb;
    border: 2px #ebebeb solid
}

.icono__lupa {
   
    margin-bottom: 10px;
    margin-top: 5px;
    background-color: #cac5c5;
    padding: 6px;
    margin-left: 5%;
}

.icono__mano {
    margin-left: 15%;
}

.icono__burger i{
  
   display: inline-block;
   background-color: var(--Celeste);
   color: white;
   margin-left: 40%;
   margin-top: 10px;
   margin-bottom: 10px;
   width:80px;
   height: 85px;
   line-height: 55px;
   border-radius:15px 15px 15px ;
   padding: 10px ;
   text-align: center;
   font-size: 48px;
 }

 .footer{
    text-align: center;
 }
.icono__cardFooter{
 
    font-size: 2em;
    padding: 10px;
    text-align: center;
    color: #1259c3;
}

.icono__giftFooter{
 
    font-size: 2em;
    padding: 10px;
    text-align: center;
    color: #1259c3;
}
.icono__segurityFooter{
 
    font-size: 2em;
    padding: 10px;
    text-align: center;
    color: #1259c3;
}


